nav{
    display: flex;
    padding:10px 50px;
    border-bottom: 1px solid #e8e8e8;
}

nav .container{
    display: flex;
    justify-content: space-between;
    width: 800px;
}

nav .container .icons{
    display: flex;
    gap: 10px;
}

nav .container .icons .icon{
    font-size: 1.5rem;
}